*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
serverChillRate/

serverChillRate/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
serverChillRate/.apt_generated
serverChillRate/.classpath
serverChillRate/.factorypath
serverChillRate/.project
serverChillRate/.settings
serverChillRate/.springBeans
serverChillRate/.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
serverChillRate/.idea
serverChillRate/*.iws
serverChillRate/*.iml
serverChillRate/*.ipr
serverChillRate/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
serverChillRate/nbproject/private/
serverChillRate/nbbuild/
serverChillRate/dist/
serverChillRate/nbdist/
serverChillRate/.nb-gradle/

### VS Code ###
serverChillRate/.vscode/